$red-1: #E23845;

$orange: #FFB504;
$orange-1: #FFAD2C;
$orange-2: #F98441;
$orange-3: #F88340;

$yellow: #FFB800;

$blue: #0038FF;
$light-blue-1: #3f518b;
$light-blue-2: #6f7ca8;
$light-blue-3: #9fa8c5;
$light-blue-4: #cfd3e2;

$sky-blue: #86CED9;

$green: #36D100;
$lime: #93c240;
$teal: #038E83;
$mint: #048D83;

$black: #1b1b1b;
$light-black-1: #545454;
$light-black-2: #777777;
$light-black-4: #D4D4D4;
$light-black-6: #f5f5f5;

$text-color: #25284f;
$header-color: #e60033;
$footer-color: #2f2f2f;

$purple-1: #6D17B8;
$purple-2: #323481;

 
$primary-header-font: 'Righteous', cursive;
$secondary-header-font: 'Questrial', sans-serif;
$paragraph-font: 'Google Sans';
